<% if user_signed_in? %>
  <li>
    <img src=<%= current_user.image %> width=30 height=30 alt='@<%= current_user.nickname %>' />
  </li>  
  <li>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path) %>
  </li>
<% end %>