<div class='container'>
  <div class='row'>
    <p id="notice"><%= notice %></p>
    <h1>Pull Requests</h1>
  </div>
  <div class='row'>
    <div class='column column-50'>
      <%= render partial: 'example_queries' %>
    </div>
    <div class='column column-50'>
      <%= render partial: 'query_params', locals: { pull_requests: @pull_requests} %>
      <%= render partial: 'query_results' %>
    </div>
  </div>
</div>